<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <error-page>
    <error-code>404</error-code>
    <location>/web/jsp/error.jsp</location>
  </error-page>
  <display-name>Smss</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Heloo</display-name>
    <servlet-name>Heloo</servlet-name>
    <servlet-class>Heloo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Heloo</servlet-name>
    <url-pattern>/Heloo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudenta</display-name>
    <servlet-name>UpdateStudenta</servlet-name>
    <servlet-class>UpdateStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudenta</servlet-name>
    <url-pattern>/UpdateStudenta</url-pattern>
  </servlet-mapping>
</web-app>